body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('header.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
